*.class
*.jar
*.war
.project
.DS_Store

.classpath
.project
.settings/
bin/
/target
.idea/
*.iml
.springBeans

platforms

node_modules/
plugins
vendor/

*_prod.html
*_ionic.html
app.min.js
mobile-app/www/img/speakers
