<html layout:decorator="includes/layout">
<div layout:fragment="content">
	<form th:action="@{#}" method="post" th:object="${config}" class="form form-horizontal">
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
		</ul>
	
		<div class="form-group">
			<label for="hashtag" class="col-sm-2 control-label">hashtag</label>
			<div class="col-sm-4">
				<input th:field="*{hashtag}" id="hashtag" class="form-control" />
			</div>
		</div>
	
		<div class="form-group">
			<label for="numberOfTweets" class="col-sm-2 control-label">number of shown tweets</label>
			<div class="col-sm-4">
				<input th:field="*{numberOfTweets}" id="numberOfTweets" class="form-control" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="backdoorScript" class="col-sm-2 control-label">script</label>
			<div class="col-sm-4">
				<textarea th:field="*{backdoorScript}" id="backdoorScript" class="form-control" rows="10"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id="submitInputForm" class="btn btn-primary" type="submit">save</button>
			</div>
		</div>
	</form>
</div>
</html>