<html layout:decorator="includes/layout">
<div layout:fragment="content">
    <form th:action="@{#}" method="post" class="form form-horizontal">
        <div class="form-group">
            <label for="searchInput" class="col-sm-2 control-label">Search</label>
            <div class="col-sm-4">
                <input id="searchInput" class="form-control" name="searchInput" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submitInputForm" class="btn btn-primary" type="submit">search</button>
            </div>
        </div>
    </form>

    <a th:href="@{search/refresh}" th:text="'refresh index'" class="button">refresh index</a>

    <p th:unless="${searchResult.hasAnyResult()}" th:text="'nothing found'">nothing found</p>
    <table class="table table-bordered table-striped" th:if="${searchResult.hasAnyResult()}">
        <thead>
            <th>id</th>
            <th>type</th>
            <th>description</th>
        </thead>
        <tbody>
            <div th:each="resultList : ${searchResult.getResults()}">
                <tr th:each="resultItem : ${resultList.getResults()}">
                    <td th:text="${resultItem.id}">123></td>
                    <td th:text="${resultItem.type}">SPEAKER></td>
                    <td th:text="${resultItem.description}">Helmut Brand></td>
                </tr>
            </div>
        </tbody>
    </table>

    <p th:if="${#lists.isEmpty(searchResult.tweets)}" th:text="'no tweets found'">no tweets found</p>
    <table class="table table-bordered table-striped" th:unless="${#lists.isEmpty(searchResult.tweets)}">
        <thead>
        <th>id</th>
        <th>full name</th>
        <th>nickname</th>
        <th>message</th>
        <th>profile image</th>
        <th>timestamp</th>
        </thead>
        <tbody>
            <tr th:each="tweet : ${resultList.tweets}">
                <td th:text="${tweet.id}">123></td>
                <td th:text="${tweet.fullName}">SPEAKER></td>
                <td th:text="${tweet.nickName}">Helmut Brand></td>
                <td th:text="${tweet.message}">Helmut Brand></td>
                <td th:text="${tweet.profileImage}">Helmut Brand></td>
                <td th:text="${tweet.timestamp}">Helmut Brand></td>
            </tr>
        </tbody>
    </table>
</div>
</html>