<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>EHFG</title>

    <link th:href="@{/webjars/bootstrap/__#{bootstrap.version}__/css/bootstrap.css}" type="text/css" rel="stylesheet"></link>
    <link th:href="@{/webjars/jquery-ui/__#{jquery-ui.version}__/jquery-ui.css}" type="text/css" rel="stylesheet"></link>

    <script th:src="@{/webjars/jquery/__#{jquery.version}__/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery-ui/__#{jquery-ui.version}__/jquery-ui.js}" type="text/javascript"></script>
</head>

<body style="background-color: #f5f5f5">
	<div class="container" style="width: 95%; margin-top: 25px;">
		<div class="row-fluid">
			<div th:include="includes/sidebar" class="col-md-2"></div>
			<div class="col-md-10 well" style="background-color: white;">
				<div layout:fragment="content"></div>
			</div>
		</div>
	</div>
</body>
</html>