<div th:fragment="sidebar" class="list-group">
	<a th:href="@{/session/overview}" class="list-group-item" th:classappend="${activePage} == 'session' ? 'active'">Session Overview</a>
	<a th:href="@{/speaker/overview}" class="list-group-item" th:classappend="${activePage} == 'speaker' ? 'active'">Speaker Overview</a>
	<a th:href="@{/maintenance/general}" class="list-group-item" th:classappend="${activePage} eq 'generalMaintenance' ? 'active'">General Maintenance</a>
	<a th:href="@{/maintenance/twitterstreams}" class="list-group-item" th:classappend="${activePage} == 'twitterStreams' ? 'active'">Twitter Streams</a>
	<a th:href="@{/maintenance/conferencedays}" class="list-group-item" th:classappend="${activePage} == 'conferenceDays' ? 'active'">Conference Days</a>
	<a th:href="@{/maintenance/pointofinterest}" class="list-group-item" th:classappend="${activePage} == 'pointOfInterest' ? 'active'">Point of Interest</a>
	<a th:href="@{/maintenance/location}" class="list-group-item" th:classappend="${activePage} == 'location' ? 'active'">Location</a>
	<a th:href="@{/maintenance/mapcategory}" class="list-group-item" th:classappend="${activePage} == 'mapcategory' ? 'active'">Map Categories</a>
	<a th:href="@{/maintenance/search}" class="list-group-item" th:classappend="${activePage} == 'search' ? 'active'">Search</a>
</div>
